#language: ru
Функционал: Название
  Сценарий: Описание чтомы мы хотим сделать и обязательно - ЗАЧЕМ мы это хотим сделать
    #Допустим - кючевое слова для начала описания алгоритма для построения состояния потом можно писать И
    #Вместе с http:// например "http://debug.pokosmos.local/#auth/login"
    Допустим я на странице "URL"
    #Тогда - специально слово для проверки условия. Дальше можно А
    Тогда я на странице "URL"


    #заполнение форм
    И заполняю поле "ПОЛЕ" значением "ЗНАЧЕНИЕ"
    И в филдсете "ФИЛДСЕТ" заполняю поле "ПОЛЕ" значением "ЗНАЧЕНИЕ"
    #Для выпадающего списка
    И выбираю "ЗНАЧЕНИЕ" в поле "ПОЛЕ"
    #Для выпадающего списка с автодополнением и подгрузкой с сервера
    И выбираю "ЗНАЧЕНИЕ" в поле "ПОЛЕ" с автодополнением
    #Это для телефона при создании заявки, может подойдет для других. Формат - через минус
    И заполняю поле типа телефон "ПОЛЕ" значением "0-000-0000000"
    И в филдсете "ФИЛДСЕТ" выбираю в поле "ПОЛЕ" значение "ЗНАЧЕНИЕ"

    #прочее
    #Для кнопки "окей" используется английский язык. Для копипаста: OK
    И нажимаю "ТЕКСТ_НА_КНОПКЕ"
    И перехожу во вкладку "Лот 1"
    И выбираю меню "МЕНЮ"
    #скриншоты сохраняются в features/screenshots, указывать расширение файла не надо
    И делаю скриншот "ИМЯ_ФАЙЛА"
    И жду "ЧИСЛО" секунд
    И в гриде нахожу строку со значением "ЗНАЧЕНИЕ" в столбце "ЗАГОЛОВОК" и нажимаю операцию "ОПЕРАЦИЯ"
    #Можно сохранить значение в переменную. Имена переменных начинаются со знака вопроса и при чтении и при записи
    И записываю "ЗНАЧЕНИЕ" в "?ИМЯ"




  #Пример выполнения сценария с разными переменными
  Структура сценария: Стираем память агентам
    Допустим есть агент <a>
    И есть агент <b>
    И я стираю память агенту <b>
    Тогда <a> - агент
    А <b> - не агент

    Примеры:
    | a    | b    |
    | Вася | Петя |
